<a href="#" class="block rounded-lg p-4 shadow-sm shadow-indigo-100">
  <img
    alt="Home"
    src=@ImageUrl
    class="h-56 w-full rounded-md object-cover"
  />

  <div class="mt-2">
    <dl>
      <div>
        <dt class="sr-only">Recipe</dt>
        <dd class="font-medium">@Title</dd>
      </div>
    </dl>

    <div class="mt-6 flex items-center gap-8 text-xs">
      <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="33.33" height="33.33" viewBox="0 0 100 100">
          <polygon points="50,10 61.8,37.3 90,40.4 69.1,61.6 80,90 50,75 20,90 30.9,61.6 10,40.4 38.2,37.3" fill="gold" />
        </svg>
        
        <div class="mt-1.5 sm:mt-0">
          <p class="text-gray-500">Difficulty</p>

          <p class="font-medium">@Difficulty</p>
        </div>
      </div>

      <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="33.33" height="33.33" viewBox="0 0 100 100">
          <rect x="30" y="20" width="40" height="60" fill="none" stroke="black" stroke-width="5" />
          <line x1="30" y1="40" x2="70" y2="40" stroke="black" stroke-width="5" />
          <line x1="30" y1="60" x2="70" y2="60" stroke="black" stroke-width="5" />
        </svg>

        <div class="mt-1.5 sm:mt-0">
          <p class="text-gray-500">Ingredients</p>

          <p class="font-medium">@Ingredients.ToString()</p>
        </div>
      </div>

      <div class="sm:inline-flex sm:shrink-0 sm:items-center sm:gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="33.33" height="33.33" viewBox="0 0 100 100">
          <circle cx="50" cy="50" r="40" fill="none" stroke="black" stroke-width="5" />
          <line x1="50" y1="50" x2="50" y2="25" stroke="black" stroke-width="5" />
          <line x1="50" y1="50" x2="75" y2="50" stroke="black" stroke-width="5" />
        </svg>

        <div class="mt-1.5 sm:mt-0">
          <p class="text-gray-500">Duration</p>

          <p class="font-medium">@(Duration)mins</p>
        </div>
      </div>
    </div>
  </div>
</a>

@code {
  [Parameter]
  public string Title { get; set; }
    
  [Parameter]
  public string ImageUrl { get; set; }
    
  [Parameter]
  public string Difficulty { get; set; }
    
  [Parameter]
  public int Ingredients { get; set; }
    
  [Parameter]
  public string Duration { get; set; }

  public void Test()
  {
    
  }
}